#flightForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}
#flightForm label {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}
#flightForm input[type="text"] {
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}
#flightForm input[type="date"] {
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

#flightForm input[type="number"] {
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

#flightForm button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #285185;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#flightForm button:hover {
    background-color: #D67940;
}

#formTitle {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #285185;
    text-align: center;
}

.dataTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
.dataTable th {
    width: 15%;
    padding: 12px;
    text-align: left;
    background-color: #285185;
    color: white;
    border-bottom: 1px solid #ddd;
}

.dataTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.dataTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.col-header {
    width: 20%;
}
.col-departure {
    width: 40%;
}
.col-arrival {
    width: 40%;
}